<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark elegant-color" style="background-color: black">
  <a class="navbar-brand" href="{% url 'home' %}">Awards</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <form class="form-inline my-1" role="search" action="{%url 'search'%}">
      <div class="md-form form-sm my-0">
        <input class="form-control form-control-sm mr-sm-2 mb-0" type="search" placeholder="Search"
          aria-label="Search" name="projects">
      </div>
      <button class="btn btn-outline-white btn-sm my-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">New Project</a>
          <a href="">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->